$grid-breakpoints: (
  sm: 0,
  md: 768px,
  lg: 1024px,
  xl: 1440px,
);

$container-max-widths: (
  lg: 1024px,
  xl: 1176px
);

$spacer: 0.625rem;
$spacers: (
  0: 0,
  1: $spacer * 1,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5,
  6: $spacer * 6,
  7: $spacer * 7,
);

$primary: #D85A5A;
$secondary: #7D8EF1;
$secondaryDark: #5E71DE;
$body-bg: #F3F1E7;
$body-color: #323232;
$gray: #9B9B9B;
$grayLight: #E9E7DD;
$grayDark: #6D6D6D;

$font-family-sans-serif: 'Open Sans', sans-serif;
