@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import "variables";
@import "~bootstrap/scss/mixins";

// @include media-breakpoint-up(lg) @include media-breakpoint-down(md)
// up идут от брейкпоинта в скобках и шире
// down идут от брейкпоинта в скобках и ниже
// сами брейкопинты мы описывали в переменных.

// переопределение отступов контейнера менять не надо. это по макету

.container {
  @include media-breakpoint-up(md) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @include media-breakpoint-only(lg) {
    padding-left: 40px;
    padding-right: 40px;
  }
}